*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;
    background:#f4f6fa;
}

/* NAVBAR */

.navbar{

    position:fixed;
    top:0;
    left:0;
    right:0;

    height:65px;

    background:#1E3A8A;

    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 25px;

    z-index:999;
}

.logo{

    font-size:24px;
    font-weight:600;
}

.title{

    font-size:18px;
}

/* CONTAINER */

.container{

    display:flex;

    margin-top:65px;

    height:calc(100vh - 65px);
}

/* SIDEBAR */

.sidebar{

    width:230px;

    background:white;

    border-right:1px solid #ddd;

    padding:20px;

    overflow:auto;
}

.sidebar button{

    width:100%;

    border:none;

    background:#EEF2FF;

    padding:14px;

    margin-bottom:12px;

    border-radius:10px;

    cursor:pointer;

    font-size:15px;

    transition:.3s;
}

.sidebar button:hover{

    background:#2563EB;

    color:white;
}

/* CONTENT */

#content{

    flex:1;

    padding:30px;

    overflow:auto;
}